.main-style {
    width: 100%;
    max-width: 1000px;
    padding: 0 40px;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.div-outer {
    margin-top: 60px;
}

.p-checkout {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4E5150;
    margin-bottom: 50px;
}

.div-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-form {
    width: 50%;
}

.div-form-section {
    margin-top: 58px;
}

.div-form-section:first-child {
    margin-top: unset;
}

.p-form-heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.div-form-input {
    margin-top: 14px;
}

.div-form-input-half-outer {
    margin-top: 14px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.div-form-input-half {
    width: 47%;
    position: relative;
}

.div-save-info-checkbox {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

input.input-checkbox {
    min-height: 15px;
    min-width: 15px;
}

.label-checkbox {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #4F4F4F;
    margin-left: 11px;
}

.div-continue-button {
    background: #F2994A;
    border-radius: 12px;
    padding: 17px 45px;
    width: fit-content;
    margin-left: auto;
    margin-top: 20px;
    cursor: pointer;
}

.p-continue-button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.div-cart {
    width: 40%;
    background: #F2F2F2;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 10px 30px;
    height: fit-content;
}

.div-billing {
    margin-top: 65px;
}

.div-divider {
    width: 100%;
    height: 1px;
    background: #BDBDBD;
}

.div-billing-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.p-billing-property {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.p-billing-value {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #333333;
}

.footer-style {
    padding: 94px 24px 24px 24px;
}

.p-footer {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
}

@media (max-width: 850px) {
    .main-style {
        padding: 0 12px;
        min-height: 100vh;
    }

    .div-outer {
        margin-top: 32px;
    }

    .p-checkout {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 20px;
    }

    .div-main {
        flex-direction: column-reverse;
    }

    .div-form {
        width: 100%;
    }

    .div-form-section {
        margin-top: 49px;
    }

    .div-form-section:first-child {
        margin-top: 39px;
    }

    .p-form-heading {
        font-size: 14px;
        line-height: 17px;
    }

    .div-form-input {
        margin-top: 11px;
    }

    .div-form-input-half-outer {
        margin-top: 11px;
    }

    .div-save-info-checkbox {
        margin-top: 16px;
    }

    input.input-checkbox {
        min-height: 10px;
        min-width: 10px;
    }

    .label-checkbox {
        font-size: 10px;
        line-height: 12px;
        margin-left: 8px;
    }

    .div-cart {
        width: 100%;
    }

    .div-billing-section {
        margin: 10px 0;
    }

    .p-billing-property {
        font-size: 14px;
        line-height: 17px;
    }
}
